.marketplace {
  .navtab-custom-sub.nav-marketplace .nav-item a {
    & .nav-item-title {
      color: #b5b5c3;
    }
    .svg-icon.svg-icon-info svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
      fill: #b5b5c3;
    }
    &.active {
      .svg-icon.svg-icon-info svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #8950fc;
      }
      .nav-item-title {
        color: #3f4254;
      }
    }
  }
}
