@import "bootstrap.scss", "variable.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}

body {
  font-weight: 400;
  font-size: 13px;
  color: #3f4254;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-main {
  padding: 50px 0;
  background-color: #f0f0f0;
}
.text-muted-light {
  color: #b5b5c3;
}

/* Custom Navbar -------------------------------- */
.navbar-custom-main {
  &.bg-light {
    background-color: #fff !important;
  }
  .img-logo {
    width: 200px;
    object-fit: contain;
  }
  .dropdown-item {
    font-size: 0.8rem;
    color: #3f4254;
  }
  .navbar-nav {
    .nav-link {
      font-weight: 500;
    }
  }
}

/* Custom Breadcrumbs --------------------------- */
.ul-breadbrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #b5b5c3;
    font-weight: 500;
    font-size: 0.825rem;
    & h6 {
      color: #8d8f9a;
    }
    &:first-child {
      border-right: 2px solid #3f425430;
      padding-right: 1rem;
    }
    &:not(:first-child):not(:last-child):after {
      display: block;
      content: " ";
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: #d1d3e0;
      margin-left: 0.5rem;
    }
    .a-link-breadcrumbs {
      color: #b5b5c3;
      font-weight: 500;
      font-size: 0.825rem;
      display: block;
    }
  }
}

/* Custom input forms -------------------------------- */
.section-main {
  .form-control:not([disabled]),
  .custom-select:not([disabled]) {
    border-color: #e4e6ef;
    background-color: #f3f6f9;
    /* border-color: #f0f0f1;
    background-color: #f5f5f7; */
    &:focus {
      box-shadow: none;
      border-color: #f0f0f1;
      background-color: #fff;
    }
  }
}

/* Custom Table Minimal ----------------------------- */
.table-minimal.table {
  color: #3f4254;
  thead {
    th {
      border-bottom: none;
      border-top: none;
      font-weight: 500;
      color: #181c32;
      font-size: 0.8rem;
      text-transform: uppercase;
      &.sorting_asc,
      &.sorting_desc {
        color: #3699ff;
      }
    }
  }
  td {
    border-color: #efefef;
    a:not(.btn) {
      color: #3f4254;
      border-bottom: 1px dotted #3f4254;
      &:hover {
        color: #3699ff;
        border-bottom: 1px dotted #3699ff;
      }
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        outline-color: none;
      }
    }
  }
  tbody tr {
    &:nth-of-type(odd) {
      background-color: #fafafa;
    }
    &:hover {
      color: #3f4254;
      background-color: #f2f3f7;
    }
  }
}

/* Custom Card --------------------------------- */
.card {
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  border-color: #e4e6ef;
}

.card {
  &-header.bg-white {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #181c32;
  }
}

/* Tabs Custom Minimal --------------------------------- */
.navtab-custom-sub .nav-item:first-child a {
  border-left: 1px solid #e4e6ef;
}
.navtab-custom-sub .nav-item a {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #f0f3f5;
  border-right: 1px solid #e4e6ef;
  border-top: 1px solid #e4e6ef;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  .nav-item-title {
    display: block;
    font-weight: 600;
    color: #3f4254;
  }
  .nav-item-desc {
    color: #b5b5c3;
  }
  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}
.navtab-custom-sub .nav-item a.active {
  background-color: #fff;
  border-color: transparent;
  .nav-item-title {
    color: #7e8299;
  }
}
.tab-content-custom.tab-content-minimal {
  .tab-pane {
    padding: 0.25rem;
    background-color: #fff;
  }
}
.mh-300 {
  min-height: 300px;
}

/* Custom Badge -------------------------------- */
.badge-light {
  padding: 0.55rem 0.75rem;
  display: inline-block;
  border-radius: 0.42rem;
  font-size: 0.825rem;
  font-weight: 500;
  &.badge-primary-light {
    color: #3699ff;
    background-color: #e1f0ff;
  }
  &.badge-danger-light {
    color: #f64e60;
    background-color: #ffe2e5;
  }
  &.badge-dark-light {
    color: #181c32;
    background-color: #d1d3e0;
  }
}

/* Custom Card --------------------------------- */
.card-widget {
  .bg-card {
    background-color: $light;
    color: #3f4254;
    line-height: normal;
    overflow: hidden;
    margin-bottom: 1rem;
    .card-body {
      padding: 1rem;
    }
  }
  .card-num-stats {
    font-size: 1.75rem;
    font-weight: 600;
    color: #3f4254;
  }
  .card-title-stats {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #3f4254;
  }
  .card-meta-viewall {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 1rem;
    font-size: 0.65rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
  }
  .card-meta-viewall {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      outline-color: none;
      opacity: 0.9;
    }
  }

  .bg-card-danger-light {
    background-color: $danger;
    color: $light;
    .card-num-stats {
      color: #fff;
    }
    .card-title-stats {
      color: #fff;
    }
  }

  .bg-card-info-light {
    background-color: $info;
    color: $light;
    .card-num-stats {
      color: #fff;
    }
    .card-title-stats {
      color: #fff;
    }
  }

  .bg-card-dark-light {
    background-color: #4d4d4d;
    color: $light;
    .card-num-stats {
      color: #fff;
    }
    .card-title-stats {
      color: #fff;
    }
  }
  .bg-card-dark-gray {
    background-color: $stormGray;
    color: $light;
    .card-num-stats {
      color: #fff;
    }
    .card-title-stats {
      color: #fff;
    }
  }
  .bg-card-blue {
    background-color: $blue;
    color: $light;
    .card-num-stats {
      color: #fff;
    }
    .card-title-stats {
      color: #fff;
    }
  }
  .bg-card-navy-blue {
    background-color: $navyBlue;
    color: $light;
    .card-num-stats {
      color: #fff;
    }
    .card-title-stats {
      color: #fff;
    }
  }

  .card-link {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      outline-color: none;
      opacity: 0.9;
    }
  }
}

/* Custom Form input Group ----------------------------- */
.input-group {
  .form-control,
  .custom-select {
    font-size: 14px;
    min-height: 2.5rem;
  }
  .btn-light {
    color: #3f4254;
    background-color: #e4e6ef;
    border-color: #e4e6ef;
    &:hover,
    &:focus,
    &:active {
      color: #3f4254;
    }
    &:hover {
      background-color: #d7dae7;
      border-color: #d7dae7;
    }
  }
}

/* Custom Footer Login ------------------ */
section.footer {
  background-color: #222;
  color: #fff;
}

/* Custom Form Label ------------------------------------- */
.form-group {
  label {
    font-weight: 500;
  }
}
label {
  font-weight: 500;
}

/* Custom buttons ------------------------------ */
.btn + .btn {
  margin-left: 0.25rem;
}
.btn-text-sm {
  font-size: 0.8rem;
}

/* Text Color Custom -------------------------- */
.text-blue {
  color: $blue;
}
.text-light-danger {
  color: $danger;
}
.text-navy-blue {
  color: $navyBlue;
}
.text-dark-gray {
  color: $stormGray;
}

/* Colored Button Custom -------------------- */
.btn-dark-gray {
  transition: fill 0.3s ease;
  color: #fff;
  background-color: $stormGray;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}
.btn-blue {
  transition: fill 0.3s ease;
  color: #fff;
  background-color: $blue;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

/* Button Dark Gray Light -------------------------- */
.btn.btn-light-dark-gray {
  color: $stormGray;
  background-color: #d3d4de;
  border-color: transparent;
  &:hover {
    background-color: $stormGray;
    color: #fff;
  }
}

/* Button Blue Light -------------------------- */
.btn.btn-light-blue {
  color: $stormGray;
  background-color: #2aacdb33;
  border-color: transparent;
  &:hover {
    background-color: $blue;
    color: #fff;
  }
}

/* Buttone Danger  Light ------------------------- */
.btn.btn-light-danger {
  color: #f64e60;
  background-color: #ffe2e5;
  border-color: transparent;
}

.btn.btn-light-danger i {
  color: #f64e60;
}

.btn.btn-light-danger .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #f64e60;
}

.btn.btn-light-danger .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-danger.dropdown-toggle:after {
  color: #f64e60;
}

.btn.btn-light-danger:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-danger:focus:not(.btn-text),
.btn.btn-light-danger.focus:not(.btn-text) {
  color: #ffffff;
  background-color: #f64e60;
  border-color: transparent;
}

.btn.btn-light-danger:hover:not(.btn-text):not(:disabled):not(.disabled) i,
.btn.btn-light-danger:focus:not(.btn-text) i,
.btn.btn-light-danger.focus:not(.btn-text) i {
  color: #ffffff;
}

.btn.btn-light-danger:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-danger:focus:not(.btn-text) .svg-icon svg g [fill],
.btn.btn-light-danger.focus:not(.btn-text) .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-danger:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-danger:focus:not(.btn-text) .svg-icon svg:hover g [fill],
.btn.btn-light-danger.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-danger:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after,
.btn.btn-light-danger:focus:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-danger.focus:not(.btn-text).dropdown-toggle:after {
  color: #ffffff;
}

.btn.btn-light-danger.disabled,
.btn.btn-light-danger:disabled {
  color: #f64e60;
  background-color: #ffe2e5;
  border-color: transparent;
}

.btn.btn-light-danger.disabled i,
.btn.btn-light-danger:disabled i {
  color: #f64e60;
}

.btn.btn-light-danger.disabled .svg-icon svg g [fill],
.btn.btn-light-danger:disabled .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #f64e60;
}

.btn.btn-light-danger.disabled .svg-icon svg:hover g [fill],
.btn.btn-light-danger:disabled .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-danger.disabled.dropdown-toggle:after,
.btn.btn-light-danger:disabled.dropdown-toggle:after {
  color: #f64e60;
}

.btn.btn-light-danger:not(:disabled):not(.disabled):active:not(.btn-text),
.btn.btn-light-danger:not(:disabled):not(.disabled).active,
.show > .btn.btn-light-danger.dropdown-toggle,
.show .btn.btn-light-danger.btn-dropdown {
  color: #ffffff;
  background-color: #f64e60;
  border-color: transparent;
}

.btn.btn-light-danger:not(:disabled):not(.disabled):active:not(.btn-text) i,
.btn.btn-light-danger:not(:disabled):not(.disabled).active i,
.show > .btn.btn-light-danger.dropdown-toggle i,
.show .btn.btn-light-danger.btn-dropdown i {
  color: #ffffff;
}

.btn.btn-light-danger:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-danger:not(:disabled):not(.disabled).active
  .svg-icon
  svg
  g
  [fill],
.show > .btn.btn-light-danger.dropdown-toggle .svg-icon svg g [fill],
.show .btn.btn-light-danger.btn-dropdown .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-danger:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-danger:not(:disabled):not(.disabled).active
  .svg-icon
  svg:hover
  g
  [fill],
.show > .btn.btn-light-danger.dropdown-toggle .svg-icon svg:hover g [fill],
.show .btn.btn-light-danger.btn-dropdown .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-danger:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-danger:not(:disabled):not(.disabled).active.dropdown-toggle:after,
.show > .btn.btn-light-danger.dropdown-toggle.dropdown-toggle:after,
.show .btn.btn-light-danger.btn-dropdown.dropdown-toggle:after {
  color: #ffffff;
}

/* Button Primary Light ------------------------------- */
.btn.btn-light-primary {
  color: #3699ff;
  background-color: #e1f0ff;
  border-color: transparent;
}

.btn.btn-light-primary i {
  color: #3699ff;
}

.btn.btn-light-primary .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #3699ff;
}

.btn.btn-light-primary .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-primary.dropdown-toggle:after {
  color: #3699ff;
}

.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-primary:focus:not(.btn-text),
.btn.btn-light-primary.focus:not(.btn-text) {
  color: #ffffff;
  background-color: #3699ff;
  border-color: transparent;
}

.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled) i,
.btn.btn-light-primary:focus:not(.btn-text) i,
.btn.btn-light-primary.focus:not(.btn-text) i {
  color: #ffffff;
}

.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-primary:focus:not(.btn-text) .svg-icon svg g [fill],
.btn.btn-light-primary.focus:not(.btn-text) .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-primary:focus:not(.btn-text) .svg-icon svg:hover g [fill],
.btn.btn-light-primary.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after,
.btn.btn-light-primary:focus:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-primary.focus:not(.btn-text).dropdown-toggle:after {
  color: #ffffff;
}

.btn.btn-light-primary.disabled,
.btn.btn-light-primary:disabled {
  color: #3699ff;
  background-color: #e1f0ff;
  border-color: transparent;
}

.btn.btn-light-primary.disabled i,
.btn.btn-light-primary:disabled i {
  color: #3699ff;
}

.btn.btn-light-primary.disabled .svg-icon svg g [fill],
.btn.btn-light-primary:disabled .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #3699ff;
}

.btn.btn-light-primary.disabled .svg-icon svg:hover g [fill],
.btn.btn-light-primary:disabled .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-primary.disabled.dropdown-toggle:after,
.btn.btn-light-primary:disabled.dropdown-toggle:after {
  color: #3699ff;
}

.btn.btn-light-primary:not(:disabled):not(.disabled):active:not(.btn-text),
.btn.btn-light-primary:not(:disabled):not(.disabled).active,
.show > .btn.btn-light-primary.dropdown-toggle,
.show .btn.btn-light-primary.btn-dropdown {
  color: #ffffff;
  background-color: #3699ff;
  border-color: transparent;
}

.btn.btn-light-primary:not(:disabled):not(.disabled):active:not(.btn-text) i,
.btn.btn-light-primary:not(:disabled):not(.disabled).active i,
.show > .btn.btn-light-primary.dropdown-toggle i,
.show .btn.btn-light-primary.btn-dropdown i {
  color: #ffffff;
}

.btn.btn-light-primary:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-primary:not(:disabled):not(.disabled).active
  .svg-icon
  svg
  g
  [fill],
.show > .btn.btn-light-primary.dropdown-toggle .svg-icon svg g [fill],
.show .btn.btn-light-primary.btn-dropdown .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-primary:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-primary:not(:disabled):not(.disabled).active
  .svg-icon
  svg:hover
  g
  [fill],
.show > .btn.btn-light-primary.dropdown-toggle .svg-icon svg:hover g [fill],
.show .btn.btn-light-primary.btn-dropdown .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-primary:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-primary:not(:disabled):not(.disabled).active.dropdown-toggle:after,
.show > .btn.btn-light-primary.dropdown-toggle.dropdown-toggle:after,
.show .btn.btn-light-primary.btn-dropdown.dropdown-toggle:after {
  color: #ffffff;
}

/* Button Dark Light ---------------------------- */
.btn.btn-light-dark {
  color: #181c32;
  background-color: #d1d3e0;
  border-color: transparent;
}

.btn.btn-light-dark i {
  color: #181c32;
}

.btn.btn-light-dark .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #181c32;
}

.btn.btn-light-dark .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-dark.dropdown-toggle:after {
  color: #181c32;
}

.btn.btn-light-dark:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-dark:focus:not(.btn-text),
.btn.btn-light-dark.focus:not(.btn-text) {
  color: #ffffff;
  background-color: #181c32;
  border-color: transparent;
}

.btn.btn-light-dark:hover:not(.btn-text):not(:disabled):not(.disabled) i,
.btn.btn-light-dark:focus:not(.btn-text) i,
.btn.btn-light-dark.focus:not(.btn-text) i {
  color: #ffffff;
}

.btn.btn-light-dark:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-dark:focus:not(.btn-text) .svg-icon svg g [fill],
.btn.btn-light-dark.focus:not(.btn-text) .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-dark:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-dark:focus:not(.btn-text) .svg-icon svg:hover g [fill],
.btn.btn-light-dark.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-dark:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after,
.btn.btn-light-dark:focus:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-dark.focus:not(.btn-text).dropdown-toggle:after {
  color: #ffffff;
}

.btn.btn-light-dark.disabled,
.btn.btn-light-dark:disabled {
  color: #181c32;
  background-color: #d1d3e0;
  border-color: transparent;
}

.btn.btn-light-dark.disabled i,
.btn.btn-light-dark:disabled i {
  color: #181c32;
}

.btn.btn-light-dark.disabled .svg-icon svg g [fill],
.btn.btn-light-dark:disabled .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #181c32;
}

.btn.btn-light-dark.disabled .svg-icon svg:hover g [fill],
.btn.btn-light-dark:disabled .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-dark.disabled.dropdown-toggle:after,
.btn.btn-light-dark:disabled.dropdown-toggle:after {
  color: #181c32;
}

.btn.btn-light-dark:not(:disabled):not(.disabled):active:not(.btn-text),
.btn.btn-light-dark:not(:disabled):not(.disabled).active,
.show > .btn.btn-light-dark.dropdown-toggle,
.show .btn.btn-light-dark.btn-dropdown {
  color: #ffffff;
  background-color: #181c32;
  border-color: transparent;
}

.btn.btn-light-dark:not(:disabled):not(.disabled):active:not(.btn-text) i,
.btn.btn-light-dark:not(:disabled):not(.disabled).active i,
.show > .btn.btn-light-dark.dropdown-toggle i,
.show .btn.btn-light-dark.btn-dropdown i {
  color: #ffffff;
}

.btn.btn-light-dark:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-dark:not(:disabled):not(.disabled).active .svg-icon svg g [fill],
.show > .btn.btn-light-dark.dropdown-toggle .svg-icon svg g [fill],
.show .btn.btn-light-dark.btn-dropdown .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-dark:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-dark:not(:disabled):not(.disabled).active
  .svg-icon
  svg:hover
  g
  [fill],
.show > .btn.btn-light-dark.dropdown-toggle .svg-icon svg:hover g [fill],
.show .btn.btn-light-dark.btn-dropdown .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-dark:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-dark:not(:disabled):not(.disabled).active.dropdown-toggle:after,
.show > .btn.btn-light-dark.dropdown-toggle.dropdown-toggle:after,
.show .btn.btn-light-dark.btn-dropdown.dropdown-toggle:after {
  color: #ffffff;
}

/* Button Warning Light ------------------------------ */
.btn.btn-light-warning {
  color: #ffa800;
  background-color: #fff4de;
  border-color: transparent;
}

.btn.btn-light-warning i {
  color: #ffa800;
}

.btn.btn-light-warning .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffa800;
}

.btn.btn-light-warning .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-warning.dropdown-toggle:after {
  color: #ffa800;
}

.btn.btn-light-warning:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-warning:focus:not(.btn-text),
.btn.btn-light-warning.focus:not(.btn-text) {
  color: #ffffff;
  background-color: #ffa800;
  border-color: transparent;
}

.btn.btn-light-warning:hover:not(.btn-text):not(:disabled):not(.disabled) i,
.btn.btn-light-warning:focus:not(.btn-text) i,
.btn.btn-light-warning.focus:not(.btn-text) i {
  color: #ffffff;
}

.btn.btn-light-warning:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-warning:focus:not(.btn-text) .svg-icon svg g [fill],
.btn.btn-light-warning.focus:not(.btn-text) .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-warning:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-warning:focus:not(.btn-text) .svg-icon svg:hover g [fill],
.btn.btn-light-warning.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-warning:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after,
.btn.btn-light-warning:focus:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-warning.focus:not(.btn-text).dropdown-toggle:after {
  color: #ffffff;
}

.btn.btn-light-warning.disabled,
.btn.btn-light-warning:disabled {
  color: #ffa800;
  background-color: #fff4de;
  border-color: transparent;
}

.btn.btn-light-warning.disabled i,
.btn.btn-light-warning:disabled i {
  color: #ffa800;
}

.btn.btn-light-warning.disabled .svg-icon svg g [fill],
.btn.btn-light-warning:disabled .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffa800;
}

.btn.btn-light-warning.disabled .svg-icon svg:hover g [fill],
.btn.btn-light-warning:disabled .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-warning.disabled.dropdown-toggle:after,
.btn.btn-light-warning:disabled.dropdown-toggle:after {
  color: #ffa800;
}

.btn.btn-light-warning:not(:disabled):not(.disabled):active:not(.btn-text),
.btn.btn-light-warning:not(:disabled):not(.disabled).active,
.show > .btn.btn-light-warning.dropdown-toggle,
.show .btn.btn-light-warning.btn-dropdown {
  color: #ffffff;
  background-color: #ffa800;
  border-color: transparent;
}

.btn.btn-light-warning:not(:disabled):not(.disabled):active:not(.btn-text) i,
.btn.btn-light-warning:not(:disabled):not(.disabled).active i,
.show > .btn.btn-light-warning.dropdown-toggle i,
.show .btn.btn-light-warning.btn-dropdown i {
  color: #ffffff;
}

.btn.btn-light-warning:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-warning:not(:disabled):not(.disabled).active
  .svg-icon
  svg
  g
  [fill],
.show > .btn.btn-light-warning.dropdown-toggle .svg-icon svg g [fill],
.show .btn.btn-light-warning.btn-dropdown .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-warning:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-warning:not(:disabled):not(.disabled).active
  .svg-icon
  svg:hover
  g
  [fill],
.show > .btn.btn-light-warning.dropdown-toggle .svg-icon svg:hover g [fill],
.show .btn.btn-light-warning.btn-dropdown .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-warning:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-warning:not(:disabled):not(.disabled).active.dropdown-toggle:after,
.show > .btn.btn-light-warning.dropdown-toggle.dropdown-toggle:after,
.show .btn.btn-light-warning.btn-dropdown.dropdown-toggle:after {
  color: #ffffff;
}

/* Button Info Light -------------------------- */
.btn.btn-light-info {
  color: #8950fc;
  background-color: #eee5ff;
  border-color: transparent;
}

.btn.btn-light-info i {
  color: #8950fc;
}

.btn.btn-light-info .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #8950fc;
}

.btn.btn-light-info .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-info.dropdown-toggle:after {
  color: #8950fc;
}

.btn.btn-light-info:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-info:focus:not(.btn-text),
.btn.btn-light-info.focus:not(.btn-text) {
  color: #ffffff;
  background-color: #8950fc;
  border-color: transparent;
}

.btn.btn-light-info:hover:not(.btn-text):not(:disabled):not(.disabled) i,
.btn.btn-light-info:focus:not(.btn-text) i,
.btn.btn-light-info.focus:not(.btn-text) i {
  color: #ffffff;
}

.btn.btn-light-info:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-info:focus:not(.btn-text) .svg-icon svg g [fill],
.btn.btn-light-info.focus:not(.btn-text) .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-info:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-info:focus:not(.btn-text) .svg-icon svg:hover g [fill],
.btn.btn-light-info.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-info:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after,
.btn.btn-light-info:focus:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-info.focus:not(.btn-text).dropdown-toggle:after {
  color: #ffffff;
}

.btn.btn-light-info.disabled,
.btn.btn-light-info:disabled {
  color: #8950fc;
  background-color: #eee5ff;
  border-color: transparent;
}

.btn.btn-light-info.disabled i,
.btn.btn-light-info:disabled i {
  color: #8950fc;
}

.btn.btn-light-info.disabled .svg-icon svg g [fill],
.btn.btn-light-info:disabled .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #8950fc;
}

.btn.btn-light-info.disabled .svg-icon svg:hover g [fill],
.btn.btn-light-info:disabled .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-info.disabled.dropdown-toggle:after,
.btn.btn-light-info:disabled.dropdown-toggle:after {
  color: #8950fc;
}

.btn.btn-light-info:not(:disabled):not(.disabled):active:not(.btn-text),
.btn.btn-light-info:not(:disabled):not(.disabled).active,
.show > .btn.btn-light-info.dropdown-toggle,
.show .btn.btn-light-info.btn-dropdown {
  color: #ffffff;
  background-color: #8950fc;
  border-color: transparent;
}

.btn.btn-light-info:not(:disabled):not(.disabled):active:not(.btn-text) i,
.btn.btn-light-info:not(:disabled):not(.disabled).active i,
.show > .btn.btn-light-info.dropdown-toggle i,
.show .btn.btn-light-info.btn-dropdown i {
  color: #ffffff;
}

.btn.btn-light-info:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-info:not(:disabled):not(.disabled).active .svg-icon svg g [fill],
.show > .btn.btn-light-info.dropdown-toggle .svg-icon svg g [fill],
.show .btn.btn-light-info.btn-dropdown .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-info:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-info:not(:disabled):not(.disabled).active
  .svg-icon
  svg:hover
  g
  [fill],
.show > .btn.btn-light-info.dropdown-toggle .svg-icon svg:hover g [fill],
.show .btn.btn-light-info.btn-dropdown .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-info:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-info:not(:disabled):not(.disabled).active.dropdown-toggle:after,
.show > .btn.btn-light-info.dropdown-toggle.dropdown-toggle:after,
.show .btn.btn-light-info.btn-dropdown.dropdown-toggle:after {
  color: #ffffff;
}

/* Button Success Light ------------------------------- */
.btn.btn-light-success {
  color: #1bc5bd;
  background-color: #c9f7f5;
  border-color: transparent;
}

.btn.btn-light-success i {
  color: #1bc5bd;
}

.btn.btn-light-success .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #1bc5bd;
}

.btn.btn-light-success .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-success.dropdown-toggle:after {
  color: #1bc5bd;
}

.btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-success:focus:not(.btn-text),
.btn.btn-light-success.focus:not(.btn-text) {
  color: #ffffff;
  background-color: #1bc5bd;
  border-color: transparent;
}

.btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled) i,
.btn.btn-light-success:focus:not(.btn-text) i,
.btn.btn-light-success.focus:not(.btn-text) i {
  color: #ffffff;
}

.btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-success:focus:not(.btn-text) .svg-icon svg g [fill],
.btn.btn-light-success.focus:not(.btn-text) .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-success:focus:not(.btn-text) .svg-icon svg:hover g [fill],
.btn.btn-light-success.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after,
.btn.btn-light-success:focus:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-success.focus:not(.btn-text).dropdown-toggle:after {
  color: #ffffff;
}

.btn.btn-light-success.disabled,
.btn.btn-light-success:disabled {
  color: #1bc5bd;
  background-color: #c9f7f5;
  border-color: transparent;
}

.btn.btn-light-success.disabled i,
.btn.btn-light-success:disabled i {
  color: #1bc5bd;
}

.btn.btn-light-success.disabled .svg-icon svg g [fill],
.btn.btn-light-success:disabled .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #1bc5bd;
}

.btn.btn-light-success.disabled .svg-icon svg:hover g [fill],
.btn.btn-light-success:disabled .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-success.disabled.dropdown-toggle:after,
.btn.btn-light-success:disabled.dropdown-toggle:after {
  color: #1bc5bd;
}

.btn.btn-light-success:not(:disabled):not(.disabled):active:not(.btn-text),
.btn.btn-light-success:not(:disabled):not(.disabled).active,
.show > .btn.btn-light-success.dropdown-toggle,
.show .btn.btn-light-success.btn-dropdown {
  color: #ffffff;
  background-color: #1bc5bd;
  border-color: transparent;
}

.btn.btn-light-success:not(:disabled):not(.disabled):active:not(.btn-text) i,
.btn.btn-light-success:not(:disabled):not(.disabled).active i,
.show > .btn.btn-light-success.dropdown-toggle i,
.show .btn.btn-light-success.btn-dropdown i {
  color: #ffffff;
}

.btn.btn-light-success:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg
  g
  [fill],
.btn.btn-light-success:not(:disabled):not(.disabled).active
  .svg-icon
  svg
  g
  [fill],
.show > .btn.btn-light-success.dropdown-toggle .svg-icon svg g [fill],
.show .btn.btn-light-success.btn-dropdown .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.btn.btn-light-success:not(:disabled):not(.disabled):active:not(.btn-text)
  .svg-icon
  svg:hover
  g
  [fill],
.btn.btn-light-success:not(:disabled):not(.disabled).active
  .svg-icon
  svg:hover
  g
  [fill],
.show > .btn.btn-light-success.dropdown-toggle .svg-icon svg:hover g [fill],
.show .btn.btn-light-success.btn-dropdown .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.btn.btn-light-success:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after,
.btn.btn-light-success:not(:disabled):not(.disabled).active.dropdown-toggle:after,
.show > .btn.btn-light-success.dropdown-toggle.dropdown-toggle:after,
.show .btn.btn-light-success.btn-dropdown.dropdown-toggle:after {
  color: #ffffff;
}

/* Colored Button --------------------- */
.btn-light {
  color: #181c32;
  background-color: #f3f6f9;
  border-color: #f3f6f9;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-light:hover {
  color: #181c32;
  background-color: #dae3ec;
  border-color: #d1dde8;
}

.btn-light:focus,
.btn-light.focus {
  color: #181c32;
  background-color: #dae3ec;
  border-color: #d1dde8;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(210, 213, 219, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(210, 213, 219, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
  color: #181c32;
  background-color: #f3f6f9;
  border-color: #f3f6f9;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #181c32;
  background-color: #d1dde8;
  border-color: #c9d6e4;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(210, 213, 219, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(210, 213, 219, 0.5);
}

.btn-dark {
  color: #ffffff;
  background-color: #181c32;
  border-color: #181c32;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-dark:hover {
  color: #ffffff;
  background-color: #0c0e18;
  border-color: #070910;
}

.btn-dark:focus,
.btn-dark.focus {
  color: #ffffff;
  background-color: #0c0e18;
  border-color: #070910;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(59, 62, 81, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(59, 62, 81, 0.5);
}

.btn-dark.disabled,
.btn-dark:disabled {
  color: #ffffff;
  background-color: #181c32;
  border-color: #181c32;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #ffffff;
  background-color: #070910;
  border-color: #030407;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(59, 62, 81, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(59, 62, 81, 0.5);
}

/* Custom Label -------------------------------- */
.label {
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: #ebedf3;
  color: #3f4254;
  font-weight: 400;
  height: 20px;
  width: 20px;
  font-size: 0.8rem;
  &.label-dark-gray {
    color: #ffffff;
    background-color: $stormGray;
  }
  &.label-blue {
    color: #ffffff;
    background-color: $blue;
  }
  &.label-primary {
    color: #ffffff;
    background-color: #3699ff;
  }
  &.label-outline-primary {
    background-color: transparent;
    color: #3699ff;
    border: 1px solid #3699ff;
  }
  &.label-outline-primary.label-outline-2x {
    border: 2px solid #3699ff;
  }
  &.label-light-primary {
    color: #3699ff;
    background-color: #e1f0ff;
  }
  &.label-secondary {
    color: #3f4254;
    background-color: #e4e6ef;
  }
  &.label-outline-secondary {
    background-color: transparent;
    color: #3f4254;
    border: 1px solid #e4e6ef;
  }
  &.label-outline-secondary.label-outline-2x {
    border: 2px solid #e4e6ef;
  }
  &.label-light-secondary {
    color: #e4e6ef;
    background-color: #ebedf3;
  }
  &.label-success {
    color: #ffffff;
    background-color: #1bc5bd;
  }
  &.label-outline-success {
    background-color: transparent;
    color: #1bc5bd;
    border: 1px solid #1bc5bd;
  }
  &.label-outline-success.label-outline-2x {
    border: 2px solid #1bc5bd;
  }
  &.label-light-success {
    color: #1bc5bd;
    background-color: #c9f7f5;
  }
  &.label-info {
    color: #ffffff;
    background-color: #8950fc;
  }
  &.label-outline-info {
    background-color: transparent;
    color: #8950fc;
    border: 1px solid #8950fc;
  }
  &.label-outline-info.label-outline-2x {
    border: 2px solid #8950fc;
  }
  &.label-light-info {
    color: #8950fc;
    background-color: #eee5ff;
  }
  &.label-warning {
    color: #ffffff;
    background-color: #ffa800;
  }
  &.label-outline-warning {
    background-color: transparent;
    color: #ffa800;
    border: 1px solid #ffa800;
  }
  &.label-outline-warning.label-outline-2x {
    border: 2px solid #ffa800;
  }
  &.label-light-warning {
    color: #ffa800;
    background-color: #fff4de;
  }
  &.label-danger {
    color: #ffffff;
    background-color: #f64e60;
  }
  &.label-outline-danger {
    background-color: transparent;
    color: #f64e60;
    border: 1px solid #f64e60;
  }
  &.label-outline-danger.label-outline-2x {
    border: 2px solid #f64e60;
  }
  &.label-light-danger {
    color: #f64e60;
    background-color: #ffe2e5;
  }
  &.label-light {
    color: #7e8299;
    background-color: #f3f6f9;
  }
  &.label-outline-light {
    background-color: transparent;
    color: #3f4254;
    border: 1px solid #f3f6f9;
  }
  &.label-outline-light.label-outline-2x {
    border: 2px solid #f3f6f9;
  }
  &.label-light-light {
    color: #f3f6f9;
    background-color: #f3f6f9;
  }
  &.label-dark {
    color: #ffffff;
    background-color: #181c32;
  }
  &.label-outline-dark {
    background-color: transparent;
    color: #181c32;
    border: 1px solid #181c32;
  }
  &.label-outline-dark.label-outline-2x {
    border: 2px solid #181c32;
  }
  &.label-light-dark {
    color: #181c32;
    background-color: #d1d3e0;
  }
  &.label-white {
    color: #3f4254;
    background-color: #ffffff;
  }
  &.label-outline-white {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  &.label-outline-white.label-outline-2x {
    border: 2px solid #ffffff;
  }
  &.label-light-white {
    color: #ffffff;
    background-color: #ffffff;
  }
  &.label-inline {
    width: auto;
    padding: 0.9rem 0.5rem;
    border-radius: 0.42rem;
  }
  &.label-inline.label-md {
    padding: 0.8rem 0.6rem;
  }
  &.label-inline.label-lg {
    padding: 0.9rem 0.75rem;
  }
  &.label-inline.label-xl {
    padding: 1rem 0.85rem;
  }
}

/* Custom valid feedback ---------------------- */
.valid-feedback {
  font-size: 90%;
}

/* Custom dropdown active and hover ------------------------------ */
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f3f6f9;
}

/* Custom Link ------------------ */
.link-dotted {
  border-bottom: 1px dotted #000;
  color: #3f4254;
}

/* Custom alert 2 ------------------------- */
.alert-2 {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  .alert-2-header {
    color: #fff;
    font-weight: 500;
    display: block;
    padding: 0.35rem 1rem;
    font-size: 15px;
  }
  .alert-2-body {
    padding: 1rem;
  }
  &.alert-2-warning {
    background-color: #fff2db;
    .alert-2-header {
      background-color: #f0b37e;
    }
  }
  &.alert-2-success {
    background-color: #e6f9e6;
    .alert-2-header {
      background-color: rgba(92, 184, 92, 0.8);
    }
  }
  &.alert-2-danger {
    background-color: #fae2e2;
    .alert-2-header {
      background-color: rgba(217, 83, 79, 0.8);
    }
  }
  &.alert-2-info {
    background-color: #e7f2fa;
    .alert-2-header {
      background-color: #6ab0de;
    }
  }
}

/* Custom Validation Feedback --------------------------- */
.invalid-feedback {
  font-size: 100%;
}

/* Custom Background ------------------ */
.bg-dark-gray {
  background-color: $stormGray !important;
  color: #fff;
}
.bg-blue {
  background-color: $blue !important;
  color: #fff;
}
.bg-navy-blue {
  background-color: $navyBlue !important;
  color: #fff;
}

.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}

/* Custom page link active -------------------------- */
.page-item.active .page-link {
  background-color: #666c9b;
  border-color: #666c9b;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .section-main {
    min-height: 100vh;
  }
}
@media (min-width: 1200px) {
  .section-main {
    min-height: calc(100vh - 71px - 35px);
  }
  .navbar-custom-main {
    .navbar-nav {
      .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .nav-link.active {
        background-color: #f3f6f9;
        border-radius: 5px;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #2f3036;
      }
    }
  }
}

@import "../pages/dashboard_page.scss", "../pages/browse.scss",
  "../pages/landing.scss", "../pages/login.scss", "../pages/marketplace.scss",
  "../pages/managedomain.scss";
